.auth-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
  }

form {
    
    max-width: 800px;
    margin: 0 auto;
    padding: 80px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
  }
  
  .input1[type="text"],
  .input2[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .btn[type="submit"] {
    display: block;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: rgb(211, 117, 117);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .btn[type="submit"]:hover {
    background-color:  rgb(211, 117, 117);
  }